<div class="container">
    <h3 style="margin-top: 30px">New tool Information </h3>
    <form (ngSubmit)="onSubmit()" #form="ngForm">

        <mat-grid-list cols="4" rowHeight="80px">
            <mat-grid-tile [colspan]="4" [rowspan]="1">
                <mat-form-field>
                    <input matInput id="name" placeholder="Name" type="text" name="name"
                           required [(ngModel)]="newTool.name">
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="4" rowHeight="80px">
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field>
                    <input matInput id="location" placeholder="Location" type="text" name="location"
                           [(ngModel)]="newTool.location">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <h3>Unit of measure:</h3>
                <mat-button-toggle-group name="unitOfMeasure" [(value)]="newTool.unitOfMeasure">
                    <mat-button-toggle value="PCS">PCS</mat-button-toggle>
                    <mat-button-toggle value="KG">KG</mat-button-toggle>
                </mat-button-toggle-group>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="4" rowHeight="80px">
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field>
                    <mat-select placeholder="Category" [(ngModel)]="newTool.category" name="category">
                        <mat-option *ngFor="let category of categories"
                                    [value]="category">{{category.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-slide-toggle (change)="uniqueChange($event)"
                                  [(ngModel)]="newTool.isUnique" name="unique">Unique
                </mat-slide-toggle>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="4" rowHeight="80px">
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field>
                    <input matInput id="minimalCount" placeholder="Minimal tool count on magazine" type="number" name="minimalCount"
                           [(ngModel)]="newTool.minimalCount">
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="4" rowHeight="80px">
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-slide-toggle [checked]="isToReturnChecked" [disabled]="isToReturnDisable"
                                  [(ngModel)]="newTool.isToReturn" name="toReturn">To Return
                </mat-slide-toggle>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field>
                    <input matInput [min]="minDate" [matDatepicker]="picker" placeholder="Warranty date"
                           [(ngModel)]="newTool.warrantyDate" name="warrantyDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-label>Image:</mat-label>
        <input type="file" id="image" name="image" (change)="uploadImageService.fileChangeEvent($event)">
        <br><br><br>


        <mat-grid-list cols="20" rowHeight="60px">
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <button class="mat-primary" mat-raised-button type="submit" [disabled]="!form.valid">Add Tool</button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <a class="mat-warn" mat-raised-button routerLink="/">Cancel</a>
            </mat-grid-tile>
        </mat-grid-list>

    </form>

</div>
