<form #f="ngForm" (ngSubmit)="onSubmit()">

    <mat-grid-list cols="4" rowHeight="80px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field>
                <input matInput id="username" placeholder="Username" type="text" name="username"
                       required minLength="3" [ngClass]="employee.isActive ? 'null' : 'strikethrough'" [(ngModel)]="employee.userName">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="5">
            <app-image [source]="url" [employeeId]="employee.id" [width]="300" [height]="400"></app-image>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">

                    <mat-form-field *ngIf="employee.id == null">
                        <input matInput id="password1" placeholder="Password" type="text" name="password"
                           required [(ngModel)]="employee.password">
                    </mat-form-field>
                    <mat-form-field *ngIf="employee.id != null">
                    <input matInput id="password2" placeholder="Password change (leave empty to keep old one)" type="text" name="password"
                           [(ngModel)]="employee.password">
                    </mat-form-field>

        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field>
                <input matInput id="firstname" placeholder="Firstname" type="text" name="firstname"
                       required [(ngModel)]="employee.firstName">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field>
                <input matInput id="surname" placeholder="Surname" type="text" name="surname"
                       required [(ngModel)]="employee.surName">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="80px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field>
                <input matInput id="phoneNumber" placeholder="Phone Number" type="tel" name="phoneNumber"
                       required [(ngModel)]="employee.phoneNumber">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field>
                <input matInput id="email" placeholder="email" type="email" name="email"
                       [(ngModel)]="employee.email">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="80px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field>
                <input matInput id="workingGroup" placeholder="Working Group" type="text" name="workingGroup"
                       [(ngModel)]="employee.workingGroup">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="4" rowHeight="80px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-slide-toggle [disabled]="true" [(ngModel)]="employee.isActive" name="active">Active
            </mat-slide-toggle>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-button-toggle-group name="roles" aria-label="Roles" multiple>
                <mat-button-toggle value="ADMIN">ADMIN</mat-button-toggle>
                <mat-button-toggle value="EMPLOYEE">EMPLOYEE</mat-button-toggle>
                <mat-button-toggle value="WAREHOUSEMAN">WAREHOUSEMAN</mat-button-toggle>
            </mat-button-toggle-group>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-label>Image:</mat-label>
    <input type="file" id="image" name="image" accept="image/*" formenctype="multipart/form-data" (change)="fileChangeEvent($event)">

    <br><br><br>

    <mat-grid-list cols="20" rowHeight="60px">
        <mat-grid-tile [colspan]="14"></mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <button class="mat-primary" [disabled]="!f.valid || (!f.dirty && url == '')" mat-raised-button type="submit">Submit</button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <a class="mat-warn" type="button" mat-raised-button (click)="back()">Cancel</a>
        </mat-grid-tile>
    </mat-grid-list>
</form>
