<div class="container">
    <h2 style="margin-top: 30px">New buy order  </h2>
    <form (ngSubmit)="onSubmit()">

        <mat-grid-list cols="4" rowHeight="80px">
            <mat-grid-tile [colspan]="4" [rowspan]="1">
                <mat-form-field>
                    <input matInput id="orderCode" placeholder="Order code" type="text" name="orderCode"
                           required [(ngModel)]="newBuyOrder.orderCode">
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="4" rowHeight="80px">
            <mat-grid-tile [colspan]="2" [rowspan]="1"></mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <h4>Warehouseman:</h4>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <input matInput id="warehousemanUsername" placeholder="" type="text" name="warehousemanUsername"
                       readonly [(ngModel)]="newBuyOrder.warehousemanUsername">
            </mat-grid-tile>
        </mat-grid-list>

        <div>
            <h3>Tools in order:</h3>
        </div>
        <mat-list>
            <mat-list-item *ngFor="let buyOrderTool of newBuyOrder.buyOrderTools">
                <mat-grid-list cols="10" rowHeight="40px">
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <h4>{{buyOrderTool.tool.id}}</h4>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <h4>{{buyOrderTool.tool.name}}</h4>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <h4>IMAGEEEEEEEEEEEEEEEEEEEEEEEEE</h4>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <input matInput id="toolCount" placeholder="Count" type="number" name="toolCount"
                               [(ngModel)]="buyOrderTool.count">
                        {{buyOrderTool.tool.unitOfMeasure}}
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="3" [rowspan]="1"></mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <button mat-icon-button (click)="delete(category)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>

                <mat-divider></mat-divider>
            </mat-list-item>
            <mat-grid-list cols="5" rowHeight="40px">

                <mat-grid-tile [colspan]="5" [rowspan]="1">
                    <button class="add" (click)="addNewBuyOrderTool()">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-list>

        <mat-grid-list cols="20" rowHeight="60px" style="margin-top: 30px;">
            <mat-grid-tile [colspan]="10" [rowspan]="1"></mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <button class="mat-primary" mat-raised-button type="submit">Add Buy Order</button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <a class="mat-warn" mat-raised-button routerLink="/">Cancel</a>
            </mat-grid-tile>
        </mat-grid-list>

    </form>

</div>
