<p>
<div class="container">
    <h3 style="margin-top: 30px">Employee Information </h3>

    <mat-grid-list cols="20" rowHeight="60px">
        <mat-grid-tile [colspan]="18"></mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <button class="mat-accent" mat-raised-button (click)="editEmployee()">Edit Employee</button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="18"></mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <button class="mat-warn" mat-raised-button (click)="deleteEmployee()"
                    [disabled]="!employee.isActive || isEmployeeLoggedUser()">Deactivate Employee
            </button>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="80px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field>
                <input matInput [ngClass]="employee.isActive ? 'null' : 'strikethrough'" id="username"
                       placeholder="Username" type="text" name="username"
                       readonly [(ngModel)]="employee.userName">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="5">
            <app-image [employeeId]="getEmployeeIdFromUrl()" [width]="300" [height]="400"></app-image>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field>
                <input matInput id="firstname" placeholder="Firstname" type="text" name="firstname"
                       readonly [(ngModel)]="employee.firstName">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field>
                <input matInput id="surname" placeholder="Surname" type="text" name="surname"
                       readonly [(ngModel)]="employee.surName">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="4" rowHeight="80px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field>
                <input matInput id="phoneNumber" placeholder="Phone Number" type="tel" name="phoneNumber"
                       readonly [(ngModel)]="employee.phoneNumber">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field>
                <input matInput id="email" placeholder="email" type="email" name="email" readonly
                       [(ngModel)]="employee.email">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="80px">
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field>
                <input matInput id="workingGroup" placeholder="Working Group" type="text" name="workingGroup"
                       readonly
                       [(ngModel)]="employee.workingGroup">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="2">
            <h3>Roles:</h3>
            <mat-list>
                <mat-list-item *ngFor="let role of employee.roles">
                    {{role.roleType}}
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-slide-toggle disabled [(ngModel)]="employee.isActive" name="active">Active
            </mat-slide-toggle>
        </mat-grid-tile>

    </mat-grid-list>
</div>
