/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-form-field, mat-slide-toggle {
    width: 50%;
}

mat-select {
    width: 80%;
}

mat-grid-tile{
    width: 80%;
}
mat-slide-toggle {
    width: 30%;
}

mat-button-toggle-group{
    height: 50%;
}

.main-field {
    font-size: x-large;
}


.container {
    width:80%;
    margin:auto;
}

.full-width {
    width: 100%;
}

.primary {
    color:white;
}

.strikethrough {
    text-decoration: line-through;
}

.dialog-run-text {
    color: dodgerblue;
    text-decoration-line: underline;
}
