<mat-grid-list cols="4" rowHeight="80px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field >
            <input matInput id="username" placeholder="Username" type="text" name="username" [disabled]="disableInputEdit"
                   required minLength="3" [(ngModel)]="editedEmployee.userName">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field >
            <input matInput id="password" placeholder="Password" type="text" name="password" [disabled]="disableInputEdit"
                   required [(ngModel)]="editedEmployee.password">
        </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="80px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field>
            <input matInput id="firstname" placeholder="Firstname" type="text" name="firstname" [disabled]="disableInputEdit"
                   required [(ngModel)]="editedEmployee.firstName">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field>
            <input matInput id="surname" placeholder="Surname" type="text" name="surname" [disabled]="disableInputEdit"
                   required [(ngModel)]="editedEmployee.surName">
        </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="4" rowHeight="80px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field>
            <input matInput id="phoneNumber" placeholder="Phone Number" type="tel" name="phoneNumber" [disabled]="disableInputEdit"
                   required [(ngModel)]="editedEmployee.phoneNumber" >
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field>
            <input matInput id="email" placeholder="email" type="email" name="email" [disabled]="disableInputEdit"
                   [(ngModel)]="editedEmployee.email">
        </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="80px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field>
            <input matInput id="workingGroup" placeholder="Working Group" type="text" name="workingGroup" [disabled]="disableInputEdit"
                   [(ngModel)]="editedEmployee.workingGroup" >
        </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="4" rowHeight="80px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-slide-toggle [disabled]="true" [(ngModel)]="editedEmployee.isActive" name="active">Active
        </mat-slide-toggle>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1" >
        <mat-button-toggle-group name="roles" aria-label="Roles" multiple [disabled]="disableInputEdit" >
            <mat-button-toggle value="ADMIN">ADMIN</mat-button-toggle>
            <mat-button-toggle value="EMPLOYEE">EMPLOYEE</mat-button-toggle>
            <mat-button-toggle value="WAREHOUSEMAN">WAREHOUSEMAN</mat-button-toggle>
        </mat-button-toggle-group>
    </mat-grid-tile>
</mat-grid-list>

<mat-label>Image:</mat-label>
<input type="file" id="image" name="image" (change)="uploadImageService.fileChangeEvent($event)">
